@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #f48e28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
}

.btn {
    background-color: var(--main-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.padding {
    padding: 2rem 7rem;
}

@media only screen and (max-width: 970px) {
    .padding {
        padding: 1.5rem 2rem;
    }

    .nav {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
    }

    .left-side,
    .right-side {
        width: 100%;
    }

    .vr-line {
        height: 1px;
        width: 100%;
        margin: 1rem 0;
    }

    .details {
        flex-direction: column;
        padding: 1.5rem 2rem;
    }

    .product-container {
        display: flex;
        flex-direction: column;
    }

    .service-container {
        flex-direction: column;
    }

    .test-container {
        flex-direction: column;
    }

    .test-text {
        width: 100%;
        margin-bottom: 2rem;
    }

    .subscribe {
        flex-direction: column;
    }

    .sub-right {
        padding: 1rem 1rem;
        width: 100%;
    }

    .sub-left {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }

    .contact,
    .open-close-time,
    .userlink,
    .contact-us {
        width: 100%;
    }
    
    .abs {
        display: none;
    }

    .width-60 {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .width {
        width: 100%;
    }

    .search {
        margin-top: 1rem;
    }

    .search input {
        width: 100%;
    }

    .search-icon {
        left: 25px;
    }

    .left-side {
        padding: 0;
    }

    .left-heading h2 {
        font-size: 35px;
    }

    .left-heading {
        margin-bottom: .7rem;
    }

    .left-desc {
        margin-bottom: .8rem;
    }

    .proccess {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    
}